@import '../../styles/colors.scss';

.divider {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: $light-text-color;
	margin: 8px 0px;
}
.divider::before, .divider::after {
	content: "";
	flex-grow: 1;
	background: $light-text-color;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}